@model List<Produto>
@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<p>@ViewData["Docker"]</p>

@foreach(var produto in Model) 
{
    <p>@produto.Nome - @produto.Descricao - @produto.Valor.ToString("C")</p>
}